include LICENSE
include README.md
include requirements.txt
recursive-include docs *
recursive-include demo *
recursive-include 6.3.15_20190220 *
recursive-include 6.3.19_P1_20200106 *
recursive-include 6.5.1_20200908 *
recursive-include 6.6.1_P1_20210406 *
recursive-include 6.6.7_20220613 *
recursive-include 6.6.9_20220920 *
recursive-include 6.7.0_20230209 *
recursive-include 6.7.1_20230613 *
recursive-include 6.7.2_20230913 *
recursive-include 6.7.7_20240607 *
recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
